@font-face {
font-family: "Balsamiq Sans";
src: url('../../assets/font/BalsamiqSans-Regular.ttf');
font-weight: 400;
font-style:normal;
font-display:swap;
}

@font-face {
    font-family: "Balsamiq Sans";
    src: url('../../assets/font/BalsamiqSans-Bold.ttf');
    font-weight: 700;
    font-style:normal;
    font-display:swap;
    }