@use "../../styles/partials/mixins" as*; 

.landing-page {
    &__title {
        font-weight: 700;
        @include purple-gradient;
        margin-top: .5rem;
    }
    &__image {
        width: 92%;
        margin: 1rem;
        border-radius: 1rem;
        box-shadow: rgba(1, 7, 14, 0.2) 0px 8px 24px;

    }
    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-top: 1rem;
    }
    &__header--item {
        margin: 1rem 0;
    }
}