@use "../../styles/partials/variables" as*;
@use "../../styles/partials/mixins" as*;

.news {
  padding: 0.5rem 1rem;  
  border: solid 1.5px $graphite;
  box-shadow:rgba(1, 7, 14, 0.2) 0px 8px 24px;
  border-radius: .25rem;
  margin: 1rem;
  height: 8rem;
  overflow: auto;
  transition: 0.2s all;
  background-color: rgb(248, 245, 245);
  letter-spacing: -0.06em;
  &:hover {
    background-color: #e6e0e0;
    cursor: pointer;
    color: black;
  }
  &:active {
    transform: scale(0.97);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
  }
    &__image {
      height:5rem;
      min-width: 8rem; 
      object-fit: cover;
      border-radius: .25rem; 
    }
    &__title {
      margin: .5rem 0;
    }
    &__link {
      text-decoration: none;
      color: black;
    }
    &__date {
      font-size: .875rem;
      margin: .5rem 0;
      color: $graphite;
    }
    &__site {
      font-size: .875rem;
      margin: .5rem 0;
    }
    &__date-site-container {
      display: flex;
      justify-content: space-between;
      padding-right: 1rem;
    }
    &__text {
      display: none;
      @include tablet {
        display: inline-block;
      }

    }
}