.user-auth__form {
    margin: 2rem;
    background-color: white;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 0.5rem; 
    box-shadow: rgb(1 7 14 / 20%) -10px 28px 24px;
}
.btn {
    // margin: 0 .25rem;
    // border: .25px solid black;
    // box-shadow: rgb(1 7 14 / 20%) 0px 8px 24px;
    &--signup, &--submit {
        text-align: center;
        margin-top: 1rem;
    }
}

// body {
//     // background: #1C8EF9 !important;
//     min-height: 100vh;
//     display: flex;
//     font-weight: 400;
//     font-family: 'Fira Sans', sans-serif;
//   }
//   h1,h2,h3,h4,h5,h6,label,span {
//     font-weight: 500;
//     font-family: 'Fira Sans', sans-serif;
//   }
//   body, html, .App, #root, .auth-wrapper {
//     width: 100%;
//     height: 100%;
//   }
//   .navbar-light {
//     background-color: #ffffff;
//     box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
//   }
//   .auth-wrapper {
//     display: flex;
//     justify-content: center;
//     flex-direction: column;
//     text-align: left;
//   }
//   .auth-inner {
//     width: 450px;
//     margin: auto;
//     background: #ffffff;
//     box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
//     padding: 40px 55px 45px 55px;
//     border-radius: 15px;
//     transition: all .3s;
//   }
//   .auth-wrapper .form-control:focus {
//     border-color: #167bff;
//     box-shadow: none;
//   }
//   .auth-wrapper h3 {
//     text-align: center;
//     margin: 0;
//     line-height: 1;
//     padding-bottom: 20px;
//   }
.form-control {
    margin: .25rem 0;
}
  .custom-control-label {
    font-weight: 300;
    font-size: .875rem;
    margin-top: .25rem;
  }
  .forgot-password,
  .forgot-password a {
    text-align: right;
    font-size: 13px;
    padding-top: 10px;
    color: #7f7d7d;
    margin: 0;
  }
  .forgot-password a {
    color: #167bff;
  }