@use "../../styles/partials/variables" as*;

.navbar {
    display: flex;
    justify-content: center;


    &__links {
        background-color:rgb(148, 219, 247);
        color:$navbar-font;
        padding: .25rem;
        border: .5px solid $navbar-font;
        cursor: pointer;
        border-radius: .25rem;
        margin: 0 .25rem;
    box-shadow: rgba(1, 7, 14, 0.2) 0px 8px 24px;


    &--active {
        background-color: $navbar-background--active;
        color: $navbar-font--active;
    }
    }
    
}