@use "../../styles/partials/variables" as*;
@use "../../styles/partials/mixins" as*;

.navbar {
    display: flex;
    justify-content: center;
    font-size: .75rem;
    width: 60%;
    // flex-wrap: nowrap;


    &__links {
        color:$navbar-font;
        padding: .25rem;
        border: .5px solid $navbar-font;
        cursor: pointer;
        border-radius: .25rem;
        margin: 0 .25rem;
        box-shadow: rgba(1, 7, 14, 0.2) 0px 8px 24px;
        text-decoration: none;
        @include purple-gradient;
        letter-spacing: -0.06em;
        background-color:rgb(148, 219, 247);
        font-weight: 600;


    &--active {
        background-color: $navbar-background--active;
        color: $navbar-font--active;
    }
    }
    
}